// TODO: Arrows get stretched so diagrams fill entire width

:root {
    --padding: 12px;
    --stroke-width: 1px;
    --arrow-length: 40px;
    // TODO: Use bootstrap colors (scss variables)
    --secondary-colour: #6c757d;
}

.arrow {
    fill: none;
    stroke: var(--secondary-colour);
    stroke-width: var(--stroke-width);
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
}

.line-horizontal {
    min-width: var(--arrow-length);
    stroke: var(--secondary-colour);
    stroke-width: var(--stroke-width);
}

.function-body {
    margin-top: var(--padding);
    padding: var(--padding);
    position: relative;
}

@mixin speech-bubble-arrow-top {
    border: var(--padding) solid transparent;
    border-width: 12px;
    content: "";
    margin-left: 12px;
    position: absolute;
    left: 12px;
    width: 0;
    height: 0;
}

.function-body:before {
    @include speech-bubble-arrow-top;
    border-bottom-color: var(--secondary-colour);
    top: -24px;
}

.function-body:after {
    @include speech-bubble-arrow-top;
    border-bottom-color: white;
    top: -23px;
}

.margin {
    margin: var(--padding);
}