:root {
    --line-height: 1.2;
    --padding: 10px;
    --border-radius: 10px;
    --stroke-width: 2px;
    --arrow-length: 50px;
}

.zero-size {
    width: 0;
    height: 0;
}

.flowchart-container {
    overflow: scroll;
    background: lightgray;
    padding: var(--padding);
}

.arrow {
    fill: none;
    stroke: black;
    stroke-width: var(--stroke-width);
}

.arrow-horizontal {
    width: var(--arrow-length);
    min-width: var(--arrow-length);
    height: calc(1em * var(--line-height));
    padding-block: calc(var(--padding) + var(--stroke-width));
}

.columns {
    display: flex;
    flex-direction: row;
}

.function {
    line-height: var(--line-height);
    border-radius: var(--border-radius);
    border: var(--stroke-width) solid black;
    padding: var(--padding);
    background: white;
    align-self: flex-start;
}