:root {
    --line-height: 1.2;
    --padding: 10px;
    --stroke-width: 1px;
    --arrow-length: 50px;
}

.arrow {
    fill: none;
    stroke: black;
    stroke-width: var(--stroke-width);
}

.arrow-horizontal {
    width: var(--arrow-length);
    min-width: var(--arrow-length);
    height: 40px; // calc(1em * var(--line-height));
    padding-block: calc(var(--padding) + var(--stroke-width));
}

.arrow-vertical {
    height: var(--arrow-length);
    min-height: var(--arrow-length);
    width: 40px; // calc(1em * var(--line-height));
    padding-inline: calc(var(--padding) + var(--stroke-width));
}